<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="T">
    <classes>
      <class name="priority.Data_provider_1"/>
      <class name="priority.Data_provider"/>
      <class name="priority.Task_1"/>
    </classes>
  </test> <!-- T -->
</suite> <!-- Suite -->
